/**
* File Name : style.css
* Description : POSSE課題
*
* ---- Table of Contents ----
*
* 1.0 - Common
*    1.1 - カスタムプロパティ
*    1.2 - ベーススタイル
*    1.3 - 汎用スタイル
*
* 2.0 - Sections
*    2.1 - ヘッダー
*    2.2 - フッター
*    2.3 - メインビジュアル
*    2.4 - POSSEとは
*    2.5 - イベント
*    2.6 - 日常生活
*    2.7 - 公式LINE
*
* 3.0 - Animation, JavaScript Object
*    3.1 - フェードイン
*    3.2 - スライダー
*
*/

/* 1.0 - Common */
/* ============================================ */

/**
 * 1.1 - カスタムプロパティ
 *
 * https://developer.mozilla.org/ja/docs/Web/CSS/Using_CSS_custom_properties
 */

/**
 * 1.2 - ベーススタイル
 */

/**
 * 1.3 - 汎用スタイル
 */

/* 2.0 - Sections */
/* ============================================ */

/**
 * 2.1 - ヘッダー
 */

/**
 * 2.2 - フッター
 */

/**
 * 2.3 - メインビジュアル
 */

/**
 * 2.4 - POSSEとは
 */

/**
 * 2.5 - イベント
 */

/**
 * 2.6 - 日常生活
 */

/**
 * 2.7 - 公式LINE
 */

/* 3.0 - Animation, JavaScript Object */
/* ============================================ */

/**
 * 3.1 - フェードイン
 */

/**
 * 3.2 - スライダー
 */
/**
 * 1.1 - カスタムプロパティ
 */
 :root {
  --dark-color: #333333;
  --white-color: #FFFFFF;
  --primary-color: #0071BC;
  --primary-light-color: #F7F9FB;
  --gray-color: #ADADAD;
  --gray-light-color: #EEEEEE;
  --gray-dark-color: #666666;
  --twitter-color: #1D9BF0;
}

/**
 * 2.1 - ヘッダー
 */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* 以下2つは、CSSカスタムプロパティで色を指定しています。
	var(--{指定の名前})とすることで、1.1で指定した名前の値を利用できます
	*/
  background-color: var(--white-color);
  border-bottom: solid 1px var(--gray-light-color);
  padding: 0 24px;
  z-index: 10000;
  transition: background-color .3s linear;
  display: flex; /* 横並びにするためにflexを指定 */
  justify-content: space-between; /* 要素の間にスペースを均等に配置 */
  align-items: center; /* 要素を垂直方向に中央に配置 */
}

.header-logo {
  width: 148px;
}

.header-nav {
  display: flex; /* 横並びにするためにflexを指定 */
  gap: 48px;
}

.header-navList {
  display: flex;
  gap: 32px;
}

.header-navLink {
  color: var(--primary-color);
  font-weight: bold;
  line-height: 1.8;
  letter-spacing: .1em;
  transition: color .3s linear;
  font-size: 14px;
  display: inline-block; /* インラインブロックにすることで中央に寄る */
}

.header-info {
  display: none;
}

.header-snsList {
  display: flex; /* 横並びにするためにflexを指定 */
  gap: 24px;
}

/**
 * 2.2 - フッター
 */
 .footer {
  padding-top: 40px;
  text-align: center; /* 中央に寄せる */
}

.footer-inner {
  display: flex; /* 横並びにするためにflexを指定 */
  flex-direction: column; /* 縦方向に配置する */
  align-items: center; /* 要素を垂直方向に中央に配置 */
  gap: 24px;
}

.footer-logo {
  width: 200px;
  line-height: 1;
}

.footer-corporateLink {
  color: var(--gray-dark-color);
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: .05em;
  display: inline-flex; /* インラインブロックにすることで中央に寄る */
  align-items: center; /* 要素を垂直方向に中央に配置 */
  gap: 4px;
}

.footer-snsList {
  display: flex; /* 横並びにするためにflexを指定 */
  gap: 24px;
}

.footer-copyright {
  text-align: center; /* 中央に寄せる */
  margin-top: 24px;
  border-top: solid 1px var(--gray-light-color);
  color: var(--gray-color);
  font-family: var(--english-font);
  letter-spacing: .1em;
  line-height: 1.5;
  font-size: 10px;
  padding: 24px;
}