/**
* File Name : style.css
* Version : 1.0
* Description : POSSE課題 完成版
* Since : 2023-05-07
*
* ---- Table of Contents ----
*
* 1.0 - Common
*    1.1 - カスタムプロパティ
*    1.2 - ベーススタイル
*    1.3 - 汎用スタイル
*
* 2.0 - Sections
*    2.1 - ヘッダー
*    2.2 - フッター
*    2.3 - メインビジュアル
*    2.4 - POSSEとは
*    2.5 - イベント
*    2.6 - 日常生活
*    2.7 - 公式LINE
*
* 3.0 - Animation, JavaScript Object
*    3.1 - フェードイン
*    3.2 - スライダー
*
*/

/* 1.0 - Common */
/* ============================================ */

/**
 * 1.1 - カスタムプロパティ
 *
 * https://developer.mozilla.org/ja/docs/Web/CSS/Using_CSS_custom_properties
 */
:root {
  --dark-color: #333333;
  --white-color: #FFFFFF;
  --primary-color: #0071BC;
  --primary-light-color: #F7F9FB;
  --gray-color: #ADADAD;
  --gray-light-color: #EEEEEE;
  --gray-dark-color: #666666;
  --twitter-color: #1D9BF0;

  --default-font: "Noto Sans JP", sans-serif;
  --english-font: "Plus Jakarta Sans", sans-serif;
}

/**
 * 1.2 - ベーススタイル
 */
html {
scroll-behavior: smooth;
}

body {
  color: var(--dark-color);
  font-family: var(--default-font);
}

.wrapper {
  padding: 80px 0 160px;
  display: flex;
  flex-direction: column;
  gap: 120px;
  overflow: hidden;
}

/**
 * 1.3 - 汎用スタイル
 */
br.is-sp {
  display: none;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 24px;
  box-sizing: content-box;
}

.section {
  padding-top: 80px;
  margin-top: -80px;
}

.section-body {
  margin-top: 40px;
}

.section-lead {
  margin-top: 40px;
  font-size: 14px;
  line-height: 1.8;
  text-align: center;
  letter-spacing: .05em;
}

.title {
  text-align: center;
}

.title-ja {
  font-size: 36px;
  line-height: 1.5;
  letter-spacing: .05em;
  display: block;
  font-weight: bold;
}

.title-en {
  font-weight: bold;
  display: block;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: .1em;
  margin-top: 8px;
  color: var(--primary-color);
  font-family: var(--english-font);
}

.button {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: .1em;
  text-align: center;
  width: 315px;
  max-width: 100%;
  color: var(--primary-color);
  border: solid 1px var(--primary-color);
  background-color: var(--white-color);
  border-radius: 50px;
  padding: 16px 20px;
  position: relative;
  line-height: 1.5;
  transition: background-color .3s linear, color .3s linear, border-color .3s linear;
}

.button-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 14px;
  height: 14px;
}

.button-icon g {
  transition: stroke .3s linear;
}

.button:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
  border-color: var(--white-color);
}

.button:hover .button-icon g {
  stroke: var(--white-color);
}


/* 2.0 - Sections */
/* ============================================ */

/**
 * 2.1 - ヘッダー
 */
.header {
  display: flex;
  align-items: center;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--white-color);
  border-bottom: solid 1px var(--gray-light-color);
  padding: 0 24px;
  z-index: 10000;
  transition: background-color .3s linear;
}

.header.is-transparent {
  background-color: transparent;
  border: none;
}

.header-logo {
  width: 148px;
  transition: filter .2s linear;
}

.header.is-transparent:not(.is-open) .header-logo {
  filter: brightness(10);
}

.header-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 48px;
}

.header-navList {
  display: flex;
  gap: 32px;
}

.header-navLink {
  color: var(--primary-color);
  font-weight: bold;
  line-height: 1.8;
  letter-spacing: .1em;
  transition: color .3s linear;
  font-size: 14px;
}

.header.is-transparent .header-navLink {
  color: var(--white-color);
}

.header-info {
  display: none;
}

.header-snsList {
  display: flex;
  gap: 24px;
}

.header-snsLink {
  transition: filter .2s linear;
}

.header.is-transparent .header-snsLink {
  filter: brightness(10);
}

/**
 * 2.2 - フッター
 */
.footer {
  padding-top: 40px;
}

.footer-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.footer-logo {
  width: 200px;
  line-height: 1;
}

.footer-corporateLink {
  color: var(--gray-dark-color);
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: .05em;
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.footer-corporateLink::after {
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  background: url(../img/icon-external-link.svg) center center / contain no-repeat;
}

.footer-snsList {
  display: flex;
  gap: 24px;
}

.footer-copyright {
  text-align: center;
  margin-top: 24px;
  border-top: solid 1px var(--gray-light-color);
  color: var(--gray-color);
  font-family: var(--english-font);
  letter-spacing: .1em;
  line-height: 1.5;
  font-size: 10px;
  padding: 24px;
}

/* ヘッダーフッター共通ホバーアニメーション */
.header a:not(.button),
.footer a {
  transition: opacity .3s linear;
}

.header a:not(.button):hover,
.footer a:hover {
  opacity: .6;
}

/**
 * 2.3 - メインビジュアル
 */
.mainvisual {
  background: url(../img/bg-mainvisual.jpg) center center / cover no-repeat;
  height: 100vh;
  padding: 40px 24px;
  display: flex;
  align-items: flex-end;
}

.mainvisual-inner {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
}

.mainvisual-head {
  display: inline-flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
}

.mainvisual-title {
  background-color: var(--white-color);
  color: var(--primary-color);
  font-weight: bold;
  line-height: 1.8;
  letter-spacing: .05em;
  font-size: 24px;
  padding-left: 20px;
  padding-right: 4px;
}

.mainvisual-lead {
  background-color: var(--white-color);
  font-weight: bold;
  line-height: 1.8;
  letter-spacing: .05em;
  font-size: 60px;
  padding-left: 20px;
}

.mainvisual-scroll {
  position: absolute;
  right: 24px;
  bottom: 24px;
  color: var(--white-color);
  font-size: 14px;
  letter-spacing: .1em;
  font-weight: bold;
  font-family: var(--english-font);
  display: flex;
  gap: 4px;
  align-items: center;
  text-shadow: 0 0 10px rgba(51, 51, 51, .25);
}

.mainvisual-scroll::before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  background-color: var(--white-color);
  border-radius: 100%;
  box-shadow: 0 0 10px rgba(51, 51, 51, .25);
}

/**
 * 2.4 - POSSEとは
 */
.about-column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  align-items: center;
}

.about-image {
  border-radius: 10px;
  overflow: hidden;
}

.about-text {
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: .05em;
}

/**
 * 2.5 - イベント
 */
.event-slide {
  margin: 0 auto;
}

.event-slideTrack {
  overflow: visible;
}

.event-item {
  border-radius: 10px;
  overflow: hidden;
  width: 320px;
  flex-shrink: 0;
  background-color: var(--primary-light-color);
  text-align: center;
}

.event-itemBody {
  padding: 20px;
}

.event-itemImage img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.event-itemDate {
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: .1em;
  background-color: var(--primary-color);
  color: var(--white-color);
  display: inline-block;
  padding: 0 12px;
  font-family: var(--english-font);
  border-radius: 5em;
}

.event-itemName {
  margin-top: 4px;
  font-size: 18px;
  line-height: 1.8;
  letter-spacing: .1em;
  font-weight: bold;
}

/**
 * 2.6 - 日常生活
 */
.daily-slide {
  padding-top: 40px;
}

.daily-list {
  display: flex;
  flex-direction: column;
  gap: 120px;
}

/* スライダー適用時のスタイルを上書き */
.splide.is-initialized:not(.is-active) .daily-list {
  display: flex;
}

.daily-slideTrack {
  overflow: visible;
}

.daily-item {
  display: flex;
  background-color: var(--primary-light-color);
  border-radius: 10px;
  align-items: flex-start;
  min-height: 324px;
}

.daily-item:nth-child(odd) {
  flex-direction: row-reverse;
  margin-right: 40px;
}

.daily-item:nth-child(even) {
  margin-left: 40px;
}

.daily-itemImage {
  border-radius: 10px;
  overflow: hidden;
  width: 480px;
  flex-grow: 0;
  flex-shrink: 0;
  margin-top: -40px;
}

.daily-itemImage img {
  aspect-ratio: 3 / 2;
  object-fit: cover;
}

.daily-item:nth-child(odd) .daily-itemImage {
  margin-right: -40px;
}

.daily-item:nth-child(even) .daily-itemImage {
  margin-left: -40px;
}

.daily-itemBody {
  padding: 48px 56px;
  width: 100%;
}

.daily-titleNumber {
  font-weight: bold;
  font-size: 58px;
  line-height: 1;
  letter-spacing: .05em;
  font-family: var(--english-font);
  color: var(--primary-color);
}

.daily-titleText {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: .05em;
  margin-left: 20px;
  vertical-align: bottom;
}

.daily-outline {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.daily-outlineItem {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  line-height: 1.5;
  font-size: 14px;
  letter-spacing: .1em;
}

.daily-outlineItem::before {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  background: url(../img/icon-check.svg) center center / contain no-repeat;
}

.daily-description {
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: .05em;
  margin-top: 12px;
}

/**
 * 2.7 - 公式LINE
 */
.cta {
  background: url(../img/bg-cta.jpg) center center / cover no-repeat;
  color: var(--white-color);
  text-align: center;
  font-size: 16px;
  padding: 40px 24px 52px;
}

.cta-title {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.8;
  letter-spacing: .1em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.cta-content {
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: .05em;
  margin-top: 16px;
}

.cta-footer {
  margin-top: 32px;
}

/* 3.0 - Animation, JavaScript Object */
/* ============================================ */

/**
 * 3.1 - フェードイン
 */
[data-scroll] {
  opacity: 0;
  transition: opacity 1s linear;
}

.is-show[data-scroll] {
  opacity: 1;
}

/**
 * 3.2 - スライダー
 */
.splide__arrow {
  width: 40px;
  height: 40px;
  border: solid 1px var(--primary-color);
  background-color: var(--white-color);
  opacity: 1;
}

.splide__arrow svg path {
  fill: var(--primary-color);
}

.splide__arrow--prev {
  left: 8px;
}

.splide__arrow--next {
  right: 8px;
}
