@use '../../foundation/variables' as *;

.p-top-about {
  &__body {
    margin-top: 42px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  &__image {
    border-radius: 16px;
    overflow: hidden;
  }

  &__content {
    font-size: 14px;
    line-height: 1.8;
    align-self: center;
  }
}
